@model Tayseer_AspMVC.Models.School

@{
    ViewData["Title"] = "إضافة مدرسة جديدة";
}

<h1>إضافة مدرسة جديدة</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label">اسم المدرسة:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">الجنس:</label>
        <select asp-for="Gender" class="form-control">
            <option value="">-- اختر --</option>
            <option value="بنين">بنين</option>
            <option value="بنات">بنات</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">المرحلة:</label>
        <select asp-for="Stages" class="form-control">
            <option value="">-- اختر --</option>
            <option value="ابتدائي">ابتدائي</option>
            <option value="متوسط">متوسط</option>
            <option value="ثانوي">ثانوي</option>
        </select>
        <span asp-validation-for="Stages" class="text-danger"></span>
    </div>

   
    </div>

    <button type="submit" class="btn btn-primary">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}