@model Tayseer_AspMVC.Models.School

@{
    ViewData["Title"] = " Delete ";
}

<h2> Delete</h2>


<form asp-action="Deletepost" method="post">
    <input asp-for="Id" hidden />

<div>
    <dl class="row">
        <dt class="col-sm-2">اسم المدرسة</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">المرحلة</dt>
        <dd class="col-sm-10">@Model.Stages</dd>

        <dt class="col-sm-2">الجنس</dt>
        <dd class="col-sm-10">@Model.Gender</dd>

        <dt class="col-sm-2">صورة المدرسة</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" width="150" class="img-thumbnail" />
            }
            else
            {
                <span>لا توجد صورة</span>
            }
        </dd>
    </dl>
</div>

    <button type="submit" class="btn btn-danger">حذف</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>
