@model Tayseer_AspMVC.Models.Hospital
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit" method="post">
    <input asp-for="Id" hidden />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div>
        <label asp-for="Services"></label>
        <input asp-for="Services" class="form-control" />
    </div>


   

    <hr />
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>