@model Tayseer_AspMVC.Models.Hospital
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div>
        <label asp-for="Services"></label>
        <input asp-for="Services" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Image:</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="Image" width="120" class="mt-2 img-thumbnail" />
        }
    </div>
   

    <hr />
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>