@model Disability
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit" method="post">
    <input asp-for="Id" hidden class="form-control" />

    <div>
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>