@model Tayseer_AspMVC.Models.DisabilityCenter

@{
    ViewData["Title"] = "DeleteDisabilityCenter";
}

<h1>DeleteDisabilityCenter</h1>


<form asp-action="DeletePostDisabilityCenter" method="post">
    <input asp-for="Id" hidden />
    <hr />
    <div class="form-group mb-3">
        <label asp-for="CentersId" class="control-label">المركز</label>
        <select asp-for="CentersId" class="form-control" asp-items="ViewBag.Centers"></select>
        <span asp-validation-for="CentersId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DisabilityId" class="control-label">الاعاقة</label>
        <select asp-for="DisabilityId" class="form-control" asp-items="ViewBag.Disabilities"></select>
        <span asp-validation-for="DisabilityId" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-danger">تأكيد الحذف</button>
    <a asp-action="DisabilityCenter" class="btn btn-secondary">إلغاء</a>
</form>
